In [12]:
import pipelines_classes as our_ppl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import scipy.stats as stats
import json
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline, make_pipeline
from functools import reduce
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import boxcox
from sklearn.model_selection import cross_validate
import category_encoders as ce
import math
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.base import clone

In [2]:
other_train = pd.read_csv('31/other_train.csv')
other_valid = pd.read_csv('31/other_valid.csv')

personal_train = pd.read_csv('31/personal_train.csv')
personal_valid = pd.read_csv('31/personal_valid.csv')

In [4]:
result_train = our_ppl.merge_and_deduplicate(personal_train, other_train, columns=['name','address'],deduplic=[1], func=our_ppl.func)

In [5]:
result_train.shape

(2237, 38)

In [13]:
true_false_cols = ['on antithyroid medication','query hyperthyroid','FTI measured',
                   'lithium','tumor','sick','TT4 measured','goitre','hypopituitary',
                   'TBG measured','TSH measured', 'T3 measured', 'on thyroxine',
                   'query on thyroxine', 'psych', 'I131 treatment', 'query hypothyroid',
                   'T4U measured', 'thyroid surgery', 'pregnant']

numeric_columns = ['TT4', 'T4U','TSH', 'T3', 'FTI','age']

all_numeric_columns = ['FTI', 'T3', 'T4U',  'TSH', 'TT4', 'age', 'capital-gain',
                       'capital-loss', 'education-num', 'fnlwgt', 'hours-per-week']

categorical_columns = ['occupation','sex','workclass', 'tumor']

all_categorical_columns = ['marital-status','education','native-country','occupation',
                       'race','referral source','relationship','sex','sick','tumor','workclass',
                       'pregnant',	'thyroid surgery', 'I131 treatment',  'psych', 'query hypothyroid']


encoder = ce.OneHotEncoder()
model_numeric = LinearRegression()
model_categorical = RandomForestClassifier(n_estimators = 100,
                    max_depth = 12, random_state = 8)


ppl = Pipeline([
    
    ('ExtraxtMedicalInfo',our_ppl.Extraction('medical_info')),
    ('AllNumObjectstoNumeric', our_ppl.ObjectToNumeric(all_numeric_columns)),
    
    
    ('ReplaceFalseCorrect',our_ppl.StringReplacer(true_false_cols,'f','f')),
    ('ReplaceTrueCorrect',our_ppl.StringReplacer(true_false_cols,'t','t')),
    
    ('ReplaceClassNegative',our_ppl.StringReplacer(['class'],'negativ','negative')),
    ('ReplaceClassIncreased',our_ppl.StringReplacer(['class'],'increase','increased')),
    ('ReplaceClassDecreased',our_ppl.StringReplacer(['class'],'decrease','decreased')),
    
    ('FindNans', our_ppl.StringReplacer(all_categorical_columns, '?', np.NaN)),
    
    # normalizacia
    ('Ln', our_ppl.LogNormalization(numeric_columns)),
    # odstranenie outlierov
    ('ReplaceExtremes',our_ppl.ReplaceOutliersWithPercentile(numeric_columns)),
    # doplnenie prazdnych hodnot modelmi
    ('ReplaceNumericNansWithModel',our_ppl.ReplaceNanWithModel(numeric_columns, LinearRegression(), numeric_columns)),
    ('ReplaceCategoricalNansWithModel', our_ppl.ReplaceCategoryNanWithModel(['occupation','sex','workclass','tumor'],
                                                               ['occupation','sex','workclass', 'tumor', 'marital-status'],
                                                                model_categorical, encoder)),
    # doplnenie prazdnych hodnot v pripade velkeho poctu kategorii, ktore predpokladame, ze z pohladu analyzy nezohravaju az taku dolezitu ulohu
    ('ReplaceWithMostFrequent', our_ppl.ReplaceMostFrequent(col_names=['native-country','FTI measured', 'relationship',
                                                               'query hypothyroid','hours-per-week']))
    
])

model =ppl.fit(result_train)
X_train = ppl.transform(result_train)

-- Extraction of  medical_info
-- Transform object to numeric for:  ['FTI', 'T3', 'T4U', 'TSH', 'TT4', 'age', 'capital-gain', 'capital-loss', 'education-num', 'fnlwgt', 'hours-per-week']
-- Replacing: ** f ** to:  f  , for:  ['on antithyroid medication', 'query hyperthyroid', 'FTI measured', 'lithium', 'tumor', 'sick', 'TT4 measured', 'goitre', 'hypopituitary', 'TBG measured', 'TSH measured', 'T3 measured', 'on thyroxine', 'query on thyroxine', 'psych', 'I131 treatment', 'query hypothyroid', 'T4U measured', 'thyroid surgery', 'pregnant']
-- Replacing: ** t ** to:  t  , for:  ['on antithyroid medication', 'query hyperthyroid', 'FTI measured', 'lithium', 'tumor', 'sick', 'TT4 measured', 'goitre', 'hypopituitary', 'TBG measured', 'TSH measured', 'T3 measured', 'on thyroxine', 'query on thyroxine', 'psych', 'I131 treatment', 'query hypothyroid', 'T4U measured', 'thyroid surgery', 'pregnant']
-- Replacing: ** negativ ** to:  negative  , for:  ['class']
-- Replacing: ** increase ** to:  increased  , for:  ['class']
-- Replacing: ** decrease ** to:  decreased  , for:  ['class']
-- Replacing: ** ? ** to:  nan  , for:  ['marital-status', 'education', 'native-country', 'occupation', 'race', 'referral source', 'relationship', 'sex', 'sick', 'tumor', 'workclass', 'pregnant', 'thyroid surgery', 'I131 treatment', 'psych', 'query hypothyroid']
-- Replace outliers with percentile for:  ['TT4', 'T4U', 'TSH', 'T3', 'FTI', 'age']
pocet hodnot: 1464/2237, TT4(neg_mean_squared_error): -0.00474533776749
pocet hodnot: 1464/2237, T4U(neg_mean_squared_error): -0.00396126538397
pocet hodnot: 1464/2237, TSH(neg_mean_squared_error): -1.90871427118
pocet hodnot: 1464/2237, T3(neg_mean_squared_error): -0.0763957296167
pocet hodnot: 1464/2237, FTI(neg_mean_squared_error): -0.00433136548521
pocet hodnot: 1464/2237, age(neg_mean_squared_error): -0.150135860699
transform  ['TT4', 'T4U', 'TSH', 'T3', 'FTI', 'age']
pocet predikovanych pre  TT4 :  360
pocet predikovanych pre  T4U :  235
pocet predikovanych pre  TSH :  232
pocet predikovanych pre  T3 :  468
pocet predikovanych pre  FTI :  235
pocet predikovanych pre  age :  1
pocet hodnot: 2000/2237, occupation(accuracy score): 0.266154755394
pocet hodnot: 2000/2237, sex(accuracy score): 0.803504525028

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:626: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

pocet hodnot: 2000/2237, workclass(accuracy score): 0.749998054226
pocet hodnot: 2000/2237, tumor(accuracy score): 0.975001128132
transform  ['occupation', 'sex', 'workclass', 'tumor']
pocet predikovanych pre  occupation :  151
pocet predikovanych pre  sex :  88
pocet predikovanych pre  workclass :  152
pocet predikovanych pre  tumor :  1
transform  ['TT4', 'T4U', 'TSH', 'T3', 'FTI', 'age']
pocet predikovanych pre  TT4 :  360
pocet predikovanych pre  T4U :  235
pocet predikovanych pre  TSH :  232
pocet predikovanych pre  T3 :  468
pocet predikovanych pre  FTI :  235
pocet predikovanych pre  age :  1
transform  ['occupation', 'sex', 'workclass', 'tumor']
pocet predikovanych pre  occupation :  151
pocet predikovanych pre  sex :  88
pocet predikovanych pre  workclass :  152
pocet predikovanych pre  tumor :  1

Index(['Unnamed: 0_x', 'name', 'address', 'age', 'sex', 'date_of_birth', 'FTI',
       'FTI measured', 'T3', 'T4U', 'TBG', 'TBG measured', 'TSH', 'TT4',
       'TT4 measured', 'Unnamed: 0_y', 'capital-gain', 'capital-loss', 'class',
       'education', 'education-num', 'fnlwgt', 'goitre', 'hours-per-week',
       'hypopituitary', 'lithium', 'marital-status', 'medical_info',
       'native-country', 'occupation', 'on antithyroid medication',
       'query hyperthyroid', 'race', 'referral source', 'relationship', 'sick',
       'tumor', 'workclass', 'query hypothyroid', 'T4U measured', 'pregnant',
       'thyroid surgery', 'TSH measured', 'query on thyroxine',
       'I131 treatment', 'on thyroxine', 'T3 measured', 'psych'],
      dtype='object')

-- Replacing: ** f ** to:  f  , for:  ['TBG measured']

,Unnamed: 0,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,0,Christine Tanner,"340 Moon Freeway\nTamarafort, MO 35449",f,t,HS-grad,f,84.0,0.87,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,White,97
1,1,Cynthia Raio,"446 Lynch Prairie Apt. 742\nKristineshire, CO ...",f,t,HS-grad,f,128.0,1.14,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,Black,112
2,2,Jason Muller,"198 Garcia Stravenue Apt. 769\nEast Shawnview,...",f,t,HS-grad,f,114.0,1.02,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,9.0,Handlers-cleaners,f,?,White,112
3,3,Sharon Tomassi,"1695 Judy Burg\nEast Kurtland, MI 54744",f,t,Some-college,f,91.0,1.16,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Sales,f,?,Black,79
4,4,Christopher Sells,Unit 5029 Box 6752\nDPO AE 90819,f,t,HS-grad,f,83.0,0.82,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,?,f,?,White,101
5,5,Michelle Zayas,"3984 Cardenas Ridges\nSouth David, HI 89301",f,f,HS-grad,f,NaN,NaN,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Other-service,f,?,Black,?
6,6,Serena Jones,Unit 5665 Box 2315\nDPO AP 64211,f,t,Bachelors,f,81.0,1.16,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Exec-managerial,f,?,White,70
7,7,Kimberly Seacat,"346 Baker Forks\nEast Williamtown, SD 11575",f,t,HS-grad,f,201.0,1.08,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Exec-managerial,f,?,White,186
8,8,Frank Gerace,Unit 4662 Box 7515\nDPO AP 48074,f,t,1st-4th,f,107.0,1.06,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,2.0,Farming-fishing,f,?,White,101
9,9,Taryn Medina,"46320 Cassie Trail Suite 868\nMatthewville, WV...",f,t,Bachelors,f,116.0,1.06,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Prof-specialty,f,?,White,109
10,10,Chester Nelson,99225 Herrera Heights Apt. 560\nLake Shellyfur...,f,t,Some-college,f,73.0,0.74,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Craft-repair,f,?,White,98
11,11,Gerard Urbina,"72378 Cole Crossing\nKaitlynside, OK 60212",f,t,7th-8th,f,86.0,0.86,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,4.0,Sales,f,?,White,101
12,12,Bruce Stohr,2847 Sarah Course Suite 210\nSouth Tiffanyboro...,f,t,HS-grad,f,118.0,0.82,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Exec-managerial,f,?,White,144
13,13,John Roberts,"11231 Gallegos Row\nNorth Rebeccaview, SC 53158",f,t,Bachelors,f,91.0,0.68,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,?,f,?,White,133
14,14,Andrea Dixon,"7047 Avila Dale Apt. 881\nStephenstad, IN 97110",f,t,HS-grad,f,94.0,1.15,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Prof-specialty,f,?,Asian-Pac-Islander,82
15,15,Patricia Wasilewski,"85154 Young Mill\nAaronville, IA 31780",f,t,Bachelors,f,75.0,1.11,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVI,13.0,?,f,?,White,68
16,16,William Salazar,"748 Denise Spring\nLake Kevin, UT 91514",f,t,7th-8th,f,90.0,1.04,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,NaN,Other-service,f,?,White,87
17,17,Rafael Allen,"783 Kirby Ferry Apt. 955\nNorth Kelly, HI 10511",f,t,Masters,f,98.0,0.87,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,Prof-specialty,f,?,White,112
18,18,Ruth Salinas,"723 Mcgee Gateway\nDavisshire, UT 25397",f,t,10th,f,85.0,0.77,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,6.0,Other-service,f,?,White,110
19,19,Ann Thomas,"46923 Stevens Stravenue\nLynchmouth, IA 99244",f,t,HS-grad,f,213.0,1.94,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,9.0,Other-service,f,?,White,110
20,20,Connie Trinklein,"476 Duane Creek Suite 297\nLunabury, ID 57053",f,t,HS-grad,f,65.0,0.73,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,White,90
21,21,Stanley Sanders,"612 Lisa River\nSouth Jennifer, UT 23592",f,t,HS-grad,f,92.0,1.02,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,90
22,22,Randall Lopez,"223 John Keys Apt. 224\nRobinberg, FL 71911",f,t,11th,f,87.0,0.96,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Other-service,f,?,White,90
23,23,Renee Henderson,"355 Cynthia Lakes\nWest Reginald, MO 65366",f,t,HS-grad,f,90.0,0.77,0.0,...,NaN,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Other-service,f,?,White,117
24,24,Dorian Winograd,"75548 Aaron Spring Apt. 620\nHumphreyfort, TN ...",f,t,Some-college,f,NaN,0.79,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,f,?,White,81
25,25,Raquel Rooks,"990 Francis Springs Suite 174\nGrayside, VA 44485",f,t,Some-college,f,205.0,0.87,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Sales,f,?,White,235
26,26,Daniel Jackson,"80138 Rebecca Pines\nMorganborough, NM 27877",f,t,Some-college,f,109.0,0.91,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,other,10.0,Sales,f,?,White,119
27,27,Dorothy Bass,"3299 Elizabeth Center Suite 400\nRachelbury, W...",f,t,Bachelors,f,113.0,0.84,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Tech-support,f,?,Asian-Pac-Islander,134
28,28,Curtis Cunningham,"15269 Mary Street\nNorth Scott, KY 73882",f,t,Bachelors,f,94.0,0.97,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,Exec-managerial,f,?,Black,97
29,29,Nancy Mckinney,"59879 Oliver Pine Apt. 642\nPort Teresa, NY 83257",t,t,HS-grad,f,93.0,0.75,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,White,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,2257,Irene Stinnett,USS Woods\nFPO AA 63145,f,t,HS-grad,f,81.0,0.83,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Other-service,f,?,White,98
2258,2258,Jack Trujillo,USNV Richardson\nFPO AA 96629,f,t,Some-college,f,88.0,1.04,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Handlers-cleaners,f,?,White,85
2259,2259,Kathryn Medina,"46158 Christina Oval\nDunnfort, ID 84034",f,t,HS-grad,f,147.0,1.03,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,Black,143
2260,2260,Joseph Greenfeld,"840 Newman Trail\nSouth Amy, WV 16068",f,t,10th,f,72.0,0.77,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,?,f,?,Black,94
2261,2261,James Mallory,"821 Key Courts\nGeraldmouth, RI 44142",f,t,HS-grad,f,89.0,0.85,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Sales,f,?,White,105
2262,2262,Virginia Olson,"987 Kenneth Parkway\nSouth Michele, FL 22863",f,t,Some-college,f,90.0,0.82,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVI,10.0,Machine-op-inspct,f,?,White,110
2263,2263,Marta Drees,"6414 Williams Flat Apt. 850\nMaynardshire, TX ...",f,t,HS-grad,f,85.0,1.13,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,White,75
2264,2264,Melinda Smith,"822 Thomas Circle\nEast Davidmouth, WI 70263",t,t,Some-college,f,107.0,1.07,1602.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",t,other,10.0,?,f,?,Asian-Pac-Islander,100
2265,2265,Elizabeth Severin,"PSC 7474, Box 4239\nAPO AP 40728",f,t,Masters,f,130.0,0.98,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,Prof-specialty,f,?,White,132
2266,2266,Douglas Johnson,"45242 Pitts Square Suite 899\nNorth Steven, NM...",f,t,HS-grad,f,102.0,0.77,1485.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,?,f,?,White,134
2267,2267,Hector Richards,"047 Jason Key Suite 700\nElizabethshire, AZ 47167",f,t,Bachelors,f,72.0,0.84,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,Prof-specialty,f,?,Black,85
2268,2268,Lyman Finkle,"53592 Robert Roads\nBlackport, GA 49853",f,t,11th,f,129.0,1.02,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,7.0,Craft-repair,f,?,White,126
2269,2269,Linda Stults,"35565 Danielle Summit Suite 344\nJessicamouth,...",f,t,Bachelors,f,170.0,0.99,1741.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHD,NaN,Prof-specialty,f,?,White,171
2270,2270,Sharon Jimenez,"00821 Robin Walks Apt. 382\nLake Marcchester, ...",f,t,HS-grad,f,103.0,1.09,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Protective-serv,f,?,Black,95
2271,2271,Ethel Roberts,"169 Douglas Estates Apt. 161\nStanleystad, MT ...",f,t,9th,f,198.0,1.23,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,5.0,Sales,f,?,White,160
2272,2272,Kimberly James,"297 Rivera Heights\nNorth Tammyfort, KY 30042",f,t,HS-grad,f,123.0,1.18,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,?,f,?,Black,104
2273,2273,Cody Mackinder,"27730 Gonzalez Meadow Suite 307\nSchwartzside,...",f,t,Some-college,f,82.0,0.74,1590.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Other-service,f,?,Other,111
2274,2274,Nancy Garvey,"945 Pierce Valleys Apt. 613\nWest Christopher,...",f,t,HS-grad,f,102.0,1.23,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Exec-managerial,f,?,White,83
2275,2275,Merry Jones,USS Acevedo\nFPO AP 47628,f,t,Some-college,f,NaN,1.12,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,Asian-Pac-Islander,95
2276,2276,Patricia Milner,"72685 Nguyen Route Apt. 507\nRichardfurt, KS 7...",f,t,HS-grad,f,91.0,1.03,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,Other,89
2277,2277,Linda Taylor,"105 Christopher Path\nTravisville, OH 24585",f,t,HS-grad,f,63.0,1.08,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,White,59
2278,2278,Raymond Jones,"2835 Wilson Fort\nAllenland, OR 76737",f,t,Bachelors,f,63.0,0.66,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,Exec-managerial,f,?,White,96
2279,2279,Fred Perry,"93505 Sean Points Apt. 899\nBenjaminfurt, CO 9...",f,f,HS-grad,f,76.0,NaN,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Craft-repair,f,?,White,?
2280,2280,Brad Null,"1404 Raymond Stream Suite 404\nWest Michael, A...",f,t,5th-6th,f,123.0,0.97,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,3.0,Transport-moving,f,?,White,126
2281,2281,Moira Carter,"64813 Avery Villages\nMclaughlinport, SC 37956",f,t,HS-grad,f,112.0,0.99,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,White,114
2282,2282,Kenneth Modica,"91614 Thompson Springs Suite 436\nTamarafort, ...",f,t,Some-college,f,93.0,1.08,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Sales,f,?,White,87
2283,2283,Jene Ross,"265 Beasley Harbors Apt. 627\nPort Natalie, WA...",f,t,HS-grad,f,122.0,1.46,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,9.0,?,f,?,White,83
2284,2284,Jordan Crozier,"97982 Davis Courts Suite 317\nPort Danieltown,...",t,t,Bachelors,f,129.0,1.23,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,Adm-clerical,f,?,White,105
2285,2285,Mary Mcfadden,"1397 Rush Stravenue Apt. 965\nKarenmouth, WV 0...",t,t,Some-college,f,161.0,1.61,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,10.0,?,f,?,White,100
2286,2286,Pauline Linden,"2383 Miller Ranch\nSouth Stevenview, MS 94837",f,t,Masters,f,80.0,NaN,NaN,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,NaN,f,?,Asian-Pac-Islander,98

In [ ]:
def manual_features():
    for