František Šefčík a Vajk Pomichal, IAU, zimný semester 2018
# Projekt 1

#### Dataset 31

## Preprocessing

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import scipy.stats as stats
import json
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline, make_pipeline
from functools import reduce

In [2]:
pd.options.display.max_columns = None

In [192]:
other_train = pd.read_csv('31/other_train.csv')
other_valid = pd.read_csv('31/other_valid.csv')

personal_train = pd.read_csv('31/personal_train.csv')
personal_valid = pd.read_csv('31/personal_valid.csv')

### 1. Integracia dat a prípadna deduplikacia zaznamov

Na zaklade prieskumnej analyzy sme zistili ze kombinaciou 'name' a 'address' atributov dostaneme unikatny identifikator, na zaklade coho dokazeme spojit datasety.

In [193]:
result_train = pd.merge(personal_train, other_train, on=['name', 'address'])
result_test = pd.merge(personal_valid, other_valid, on=['name', 'address'])

In [40]:
result_train

,Unnamed: 0_x,name,address,age,sex,date_of_birth,Unnamed: 0_y,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,tumor,TSH,T3,fnlwgt,hours-per-week,relationship,sick,workclass,TT4 measured,class,marital-status,goitre,native-country,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,0,Edith Boudreaux,"11818 Lori Crossing Apt. 802\nPughstad, DC 78165",49.0,F,69-04-28,1425,f,t,HS-grad,f,103.0,1.11,0.0,0.0,f,8.300,0.9,108997.0,40.0,Unmarried,f,Private,t,Negative.|1379,Divorced,f,United-States,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,White,93
1,1,Janet Washington,"PSC 4657, Box 5446\nAPO AP 58412",78.0,F,1940-01-23,458,f,t,Some-college,f,112.0,0.82,0.0,0.0,f,3.100,1.1,424012.0,40.0,Not-in-family,f,Federal-gov,t,negative.|954,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHD,10.0,Exec-managerial,f,?,White,137
2,2,Margaret Chabot,Unit 9759 Box 9470\nDPO AP 45549,65.0,F,1953-06-23,1875,f,t,Masters,f,113.0,0.85,0.0,0.0,f,0.035,NaN,143046.0,40.0,Not-in-family,f,Private,t,negative.|3301,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,133
3,3,Terry Terry,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",34.0,M,1984-03-08,56,t,t,Bachelors,f,99.0,0.87,0.0,0.0,f,0.080,2.1,183390.0,40.0,Not-in-family,f,Local-gov,t,Negative.|3756,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Prof-specialty,f,?,White,113
4,4,Stephen Lalk,"995 Frank Stravenue\nSouth Matthewport, TX 81402",57.0,M,1961-09-16,599,f,t,Bachelors,f,164.0,1.14,0.0,0.0,f,1.600,2.1,106935.0,45.0,Husband,f,Private,t,negative.|2198,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,13.0,Exec-managerial,f,?,White,145
5,5,Colleen Satterwhite,"1781 Meredith Skyway Suite 328\nCordovaburgh, ...",59.0,F,1959-08-05,543,f,t,HS-grad,f,121.0,1.11,1721.0,0.0,f,1.400,1.1,91939.0,30.0,Not-in-family,f,Private,t,negative.|2283,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,Black,109
6,6,Abraham Bruce,"2415 Elizabeth Knoll Suite 030\nCordovafort, C...",53.0,M,1965-10-10,2168,f,t,Doctorate,f,127.0,0.90,0.0,0.0,f,0.080,NaN,214627.0,60.0,Husband,f,Self-emp-inc,t,negative.|3276,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,16.0,Prof-specialty,f,?,White,141
7,7,James Wilson,"49824 Kim View\nWest Ericborough, VT 42457",46.0,M,1972-09-07 00 00 00,617,f,t,Some-college,f,98.0,0.94,0.0,0.0,f,0.600,NaN,183532.0,25.0,Own-child,f,Private,t,negative.|3604,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Handlers-cleaners,f,?,White,104
8,8,Judy Smith,"53231 Matthew Spur Apt. 079\nNorth Brian, MA 3...",25.0,F,1992-12-27,851,f,t,HS-grad,f,85.0,0.79,0.0,0.0,f,0.020,2.3,137310.0,40.0,Own_child,f,Private,t,negative.|2779,Never-married,f,?,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Machine-op-inspct,f,?,White,107
9,9,Anna Swartz,USNV Gallegos\nFPO AA 99743,33.0,F,1985-09-05 00:00:00,57,f,t,Assoc-voc,f,NaN,0.90,0.0,0.0,f,8.200,1.5,222216.0,38.0,Unmarried,f,?,t,negative.|1117,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,11.0,?,f,?,White,83
10,10,Patricia Kealy,"655 Karen Causeway\nBenjaminberg, NY 46590",48.0,F,1970-06-12,1594,f,t,Bachelors,f,129.0,1.35,0.0,0.0,f,0.960,NaN,201569.0,20.0,Own-child,f,State-gov,t,increased binding protein.|3621,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Prof-specialty,f,?,White,96
11,11,Morgan Toole,"9197 Juarez Lock\nNew Matthew, VA 12312",71.0,F,1947-04-17,545,f,t,HS-grad,f,165.0,1.35,0.0,0.0,f,0.160,2.4,116202.0,33.0,Unmarried,t,Private,t,increased binding protein.|2599,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Other-service,f,?,White,123
12,12,Betty Kannel,"9892 Stephen Track Suite 831\nSharonstad, TN 1...",73.0,F,22/04/1945,1175,f,t,Some-college,f,NaN,0.98,0.0,0.0,f,0.100,1.8,192065.0,40.0,Not-in-family,f,Federal-gov,t,negative.|200,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Exec-managerial,f,?,White,140
13,13,Roy Wilson,"62673 Jeanette Track Apt. 852\nMckenzieberg, W...",57.0,M,1961-06-06,651,f,t,Some-college,f,99.0,0.99,2179.0,0.0,f,NaN,NaN,303176.0,40.0,Husband,f,State-gov,t,negative.|3313,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Exec-managerial,f,?,White,100
14,14,Patricia Wasilewski,"85154 Young Mill\nAaronville, IA 31780",18.0,F,2000/01/17,15,f,t,Bachelors,f,75.0,1.11,0.0,0.0,f,16.000,1.3,320084.0,55.0,Wife,f,?,t,negative.|2120,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVI,13.0,?,f,?,White,68
15,15,Lori Scott,"509 Antonio Haven Suite 117\nWest Ricky, OK 35203",59.0,F,1959-01-01 00:00:00,2139,f,t,HS-grad,f,121.0,1.25,0.0,0.0,t,0.060,2.5,344492.0,26.0,Own-child,f,Private,t,negative.|1201,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Sales,f,?,White,97
16,16,Carl Young,"024 Jordan Plains Suite 643\nAndreamouth, WI 5...",71.0,M,1947-07-06,309,f,t,HS-grad,f,105.0,1.02,0.0,7688.0,f,1.200,2.6,339905.0,40.0,Husband,f,Private,t,negative.|3066,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,other,9.0,Sales,f,?,White,103
17,17,Karen Boyles,31259 Porter Gateway Suite 886\nEast Sarahfort...,15.0,F,2003-06-26,1528,f,t,HS-grad,f,105.0,1.16,0.0,0.0,f,1.600,2.4,158156.0,42.0,Not-in-family,f,Private,t,negative.|3168,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,White,91
18,18,Elizabeth Davis,USNV Robinson\nFPO AA 16102,50.0,F,1968-09-24 00 00 00,1890,f,t,HS-grad,f,106.0,1.07,0.0,0.0,f,3.000,NaN,175548.0,35.0,Not-in-family,f,Private,t,negative.|3140,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,Other,99
19,19,Ronald Speigel,"6135 Keith Route Apt. 868\nAbigailchester, OK ...",45.0,M,1973-01-16,715,f,t,HS-grad,f,119.0,0.94,0.0,0.0,f,0.750,2.3,285131.0,40.0,Husband,f,Private,t,negative.|3339,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Craft-repair,f,?,White,126
20,20,Debra White,"30989 Robert Stream Apt. 520\nJorgehaven, MS 9...",47.0,F,1971-09-29,1897,f,t,Some-college,t,108.0,1.08,0.0,0.0,f,2.200,2.0,66622.0,25.0,Own-child,f,Private,t,negative.|3344,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,10.0,Other-service,f,?,White,100
21,21,Kelly Webb,6934 Victor Turnpike Apt. 644\nLake Paulamouth...,72.0,F,1946-07-08,1940,f,t,HS-grad,f,86.0,0.88,0.0,0.0,f,1.500,1.3,169037.0,40.0,Not_in_family,f,Private,t,negative.|2763,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,White,99
22,22,Sandra Cherry,"83150 James Isle Suite 616\nLake Christinaton,...",33.0,F,85-09-04,1357,f,f,Some-college,f,NaN,NaN,0.0,0.0,f,NaN,NaN,23686.0,35.0,Other_relative,f,Private,f,negative.|964,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",F,other,10.0,Adm-clerical,f,?,White,?
23,23,Terri Alexander,"2397 Powell Skyway Apt. 944\nNew Brianport, PA...",15.0,F,2003-08-23,277,t,f,Some-college,f,NaN,NaN,0.0,0.0,f,NaN,NaN,120572.0,12.0,Not-in-family,f,Private,f,negative.|789,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",t,other,10.0,Other-service,f,?,White,?
24,24,Anitra Kennerly,"58132 Emily Club Apt. 346\nEmmaborough, LA 16007",54.0,F,04/11/1963,1062,f,t,Some-college,f,100.0,1.11,0.0,0.0,f,0.035,1.9,41183.0,20.0,Own-child,f,State-gov,t,negative.|2246,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,10.0,Prof-specialty,f,?,White,90
25,25,Amanda Grulkey,"4017 Marcus Brook\nWest Amber, NY 39009",50.0,F,1968-07-23,2092,f,t,Some-college,f,121.0,1.04,0.0,0.0,f,0.200,2.0,193372.0,40.0,Own-child,f,Private,t,negative.|93,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,10.0,Exec-managerial,f,?,White,116
26,26,Melinda Deoliveira,"6580 Gregory Fork Apt. 987\nPort Joshuaport, N...",64.0,F,1953-12-01,1314,f,t,Some-college,f,136.0,1.07,0.0,0.0,f,NaN,3.1,157951.0,50.0,Not-in-family,f,Private,t,negative.|805,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,10.0,Exec-managerial,f,?,White,127
27,27,Linda Stubblefield,"2503 Brown Island Apt. 531\nFosterton, NC 83127",55.0,F,1962-11-23,1087,f,t,HS-grad,f,76.0,0.65,0.0,0.0,f,1.600,1.7,201617.0,40.0,Unmarried,f,Federal-gov,t,negative.|215,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,9.0,Adm-clerical,f,?,White,116
28,28,Julia Smith,"3266 Michael Walk Suite 579\nAngelaside, AL 13883",19.0,F,1999-02-26,1590,f,t,11th,f,95.0,0.87,0.0,0.0,f,9.000,NaN,199963.0,40.0,Wife,f,Private,t,negative.|2795,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,7.0,Machine-op-inspct,f,?,White,110
29,29,Michael Guzman,"0845 Brown Keys\nNew Tiffany, AZ 18220",44.0,M,1974-05-13 00 00 00,465,f,t,Prof-school,f,76.0,0.90,0.0,0.0,f,21.000,NaN,144811.0,50.0,Not-in-family,f,State-gov,t,Negative.|3218,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,15.0,Prof-specialty,f,?,White,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,2208,Lewis Green,"1471 Williams Via\nLake Elizabethshire, OR 97299",62.0,?,1956-05-21,2005,f,t,Assoc-acdm,f,96.0,0.88,0.0,0.0,f,1.300,1.5,120046.0,40.0,Own-child,f,Private,t,negative.|3514,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVHC,12.0,Adm-clerical,f,?,White,109
2258,2209,Charles Willard,"664 Chelsea Parks\nWest Williefort, MN 38529",80.0,M,1938-02-07,114,f,t,Bachelors,f,225.0,1.68,0.0,0.0,f,1.300,2.8,383306.0,40.0,Not-in-family,f,Private,t,Increased binding protein.|2394,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Sales,f,?,White,134
2259,2210,Patricia Twyman,Unit 7771 Box 7980\nDPO AP 52262,41.0,F,1976-12-10,624,f,f,HS-grad,f,NaN,NaN,0.0,0.0,f,NaN,NaN,329026.0,40.0,Wife,f,Private,f,negative.|3519,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Adm-clerical,f,?,White,?
2260,2211,Donte Watson,"1457 Cuevas Skyway\nKaylaside, MD 83845",60.0,?,1958-04-08,1421,f,t,Bachelors,f,111.0,1.12,0.0,0.0,f,0.900,2.4,341643.0,55.0,Not-in-family,f,Private,t,negative.|1752,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Sales,f,?,White,99
2261,2212,Hayley Quintanilla,"2997 Smith Garden Apt. 597\nAdamhaven, DC 25106",35.0,F,1982-12-29,354,f,t,Assoc-voc,f,110.0,0.96,0.0,1639.0,f,NaN,NaN,104509.0,20.0,Not-in-family,f,Private,t,negative.|2871,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,11.0,Prof-specialty,f,?,White,114
2262,2213,Briana Hayes,"28971 Riley Coves\nKimberlytown, IN 38253",39.0,F,1979-07-12,2043,f,f,Assoc-voc,f,NaN,NaN,0.0,0.0,f,2.100,NaN,184078.0,40.0,Unmarried,f,Private,f,Negative.|3526,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,11.0,Adm-clerical,f,?,White,?
2263,2214,Mary Benton,2718 Benjamin Skyway Apt. 984\nWest Ashleyvill...,39.0,F,1979/01/09,194,f,t,HS-grad,f,63.0,0.84,0.0,0.0,f,43.000,1.6,53588.0,40.0,Not-in-family,f,?,t,negative.|1686,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,?,f,?,White,75
2264,2215,Edward Gionfriddo,"3309 Brown Branch Suite 527\nMichaelshire, CT ...",37.0,M,1981-05-19,1697,f,t,HS-grad,f,NaN,1.07,0.0,0.0,f,2.600,2.2,33404.0,65.0,Not-in-family,f,Self-emp-not-inc,t,negative.|1275,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,75
2265,2216,Ethel Rodgers,"69601 Francis Isle\nTuckermouth, ME 99486",41.0,F,76-12-30,1830,f.8,t.4,HS-grad,f.9,125.0,1.14,0.0,0.0,f.11,1.300,2.5,275093.0,36.0,Not-in-family,f.3,Private,t.2,negative.|3733,Never-married,f.10,United-States,f.12,"{'query hypothyroid':'f.7','T4U measured':'t.3...",f.2,SVHC,NaN,Handlers-cleaners,f.14,?,White,109
2266,2217,Clarence Hoover,USNV Cox\nFPO AP 97859,39.0,M,1979/06/04,1645,f,t,Some-college,f,130.0,1.13,0.0,0.0,f,0.930,2.6,197860.0,40.0,Husband,f,Private,t,negative.|2540,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Handlers-cleaners,f,?,White,115
2267,2218,Mary Miller,"02512 Lewis Roads\nMartinland, AR 68694",83.0,F,1935-05-06,64,f,t,Bachelors,f,86.0,0.76,0.0,0.0,f,0.920,0.9,100903.0,25.0,Wife,f,?,t,negative.|1428,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,?,f,?,White,113
2268,2219,Brenda Morris,"7574 Richard Trail Apt. 277\nHoodview, TX 85262",54.0,F,1964-02-21,102,f,t,9th,f,NaN,0.80,0.0,0.0,f,0.380,1.1,114508.0,40.0,Other-relative,f,Local-gov,t,negative.|859,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,5.0,Other-service,f,?,White,160
2269,2220,Pauline Linden,"2383 Miller Ranch\nSouth Stevenview, MS 94837",29.0,F,1989-03-05,751,f,t,Masters,f,80.0,0.82,0.0,0.0,NaN,0.590,NaN,334679.0,42.0,Unmarried,f,Private,t,negative.|3653,Separated,f,India,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,Machine-op-inspct,f,?,Asian-Pac-Islander,98
2270,2220,Pauline Linden,"2383 Miller Ranch\nSouth Stevenview, MS 94837",29.0,F,1989-03-05,2286,f,t,Masters,f,80.0,NaN,NaN,0.0,f,0.590,NaN,334679.0,42.0,Unmarried,NaN,NaN,t,negative.|3653,Separated,f,India,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,NaN,f,?,Asian-Pac-Islander,98
2271,2221,Eleanor Casarez,"PSC 4833, Box 2736\nAPO AP 05217",74.0,F,1944-01-24,2060,f,t,HS-grad,f,92.0,0.71,0.0,0.0,f,0.650,0.9,291808.0,40.0,Not-in-family,f,Private,t,Negative.|773,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Protective-serv,f,?,Black,129
2272,2222,Michelle Burton,Unit 2648 Box 3942\nDPO AP 81994,68.0,F,1950-08-06,765,f,t,HS-grad,f,111.0,1.20,0.0,0.0,f,12.000,1.4,198813.0,40.0,Own-child,f,Private,t,negative.|1155,Never-married,f,United-States,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,9.0,Handlers-cleaners,f,?,Black,93
2273,2223,Kristin Little,"54758 Hodge Trafficway\nLake Paulside, NM 63911",62.0,F,1956-10-21,1519,f,t,HS-grad,f,79.0,0.89,0.0,0.0,f,2.600,2.1,340534.0,44.0,Not-in-family,f,Private,t,negative.|67,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,90
2274,2224,Jesse Brunswick,"3989 Jennifer Neck\nLake Gabrielabury, GA 29298",53.0,M,1965-05-03,2085,f,t,Masters,f,NaN,1.16,0.0,0.0,f,2.400,2.6,230922.0,40.0,Not-in-family,f,State-gov,t,negative.|2747,Never-married,f,Scotland,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Exec-managerial,f,?,White,130
2275,2225,Jody Turner,"54780 Albert Plain\nPort Christopherland, WY 7...",45.0,F,1973-04-25 00:00:00,1866,f,t,Assoc-voc,f,77.0,0.86,0.0,0.0,f,0.970,1.1,211129.0,10.0,Own-child,f,Local-gov,t,negative.|3639,Never-married,f,?,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,11.0,Adm-clerical,f,?,White,89
2276,2226,Lon Hong,"825 Jennifer Ramp\nMartinport, KY 61619",65.0,M,1953-02-10,1450,f,f,Bachelors,f,31.0,NaN,0.0,0.0,f,103.000,1.3,207677.0,40.0,Husband,f,Local-gov,t,negative.|3072,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,SVI,NaN,Protective-serv,f,?,White,?
2277,2227,Gregory Atkins,"4488 Robert Knoll\nBrownchester, KY 57752",66.0,M,20/03/1952,1537,f,t,Bachelors,f,114.0,0.92,0.0,0.0,f,0.800,1.8,737315.0,40.0,Husband,f,Private,t,negative.|742,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Prof-specialty,f,?,White,124
2278,2228,Rosemary Sanford,"8921 Shane Drive Suite 258\nLake Chadside, CT ...",28.0,F,1990/03/27,1491,f,t,HS-grad,f,204.0,2.03,0.0,0.0,f,0.900,4.5,258932.0,80.0,Not-in-family,f,Private,t,increased binding protein.|2276,Married-spouse-absent,f,Italy,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,STMW,9.0,Other-service,f,?,White,100
2279,2229,Shaunna Marron,"3375 Daniel Plains\nNorth Holly, NY 31433",71.0,F,1947-03-21,659,t,t,HS-grad,f,126.0,1.02,1740.0,0.0,f,0.500,NaN,428350.0,40.0,Wife,f,Private,t,negative.|1332,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Machine-op-inspct,f,?,White,124
2280,2230,Wayne Flood,"8504 Harvey Trail Suite 220\nEast Loriside, CA...",37.0,M,1981-02-13,116,f,t,Bachelors,f,114.0,0.93,0.0,0.0,f,1.500,3.0,189027.0,40.0,Own-child,f,Private,t,Negative.|2035,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,13.0,Handlers-cleaners,f,?,White,122
2281,2231,Paul Sterling,USS Harris\nFPO AE 95006,56.0,?,1962/05/15,2195,f,f,Prof-school,f,NaN,NaN,0.0,15024.0,f,NaN,NaN,126569.0,60.0,Husband,f,Self-emp-not-inc,f,negative.|3601,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,15.0,Prof-specialty,f,?,White,?
2282,2232,James Coppin,"952 Douglas Harbors Apt. 064\nWest John, GA 97980",46.0,M,1972-04-14,260,f,t,HS-grad,f,125.0,1.02,0.0,0.0,f,1.100,2.9,222442.0,51.0,Husband,f,Private,t,negative.|233,Married-civ-spouse,f,Cuba,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,9.0,Sales,f,?,White,122
2283,2233,Allison Grillo,"33206 Shelby Port\nSouth Jennifer, GA 55134",21.0,F,96-11-14,1666,f,f,HS-grad,f,NaN,NaN,0.0,0.0,f,NaN,3.1,34446.0,20.0,Not-in-family,f,Private,f,negative.|254,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Other-service,f,?,White,?
2284,2234,Antoinette Spencer,"665 Ramirez Curve\nPort Joshuaton, IL 95099",28.0,F,21/02/1990,1223,f,t,Some-college,f,179.0,1.55,0.0,0.0,f,2.500,2.6,566117.0,40.0,Unmarried,f,Federal-gov,t,negative.|80,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,115
2285,2235,Sara Mcpherson,"376 Henderson Springs\nNew Julie, MS 83236",45.0,F,1973-09-24,282,f,t,Some-college,f,83.0,1.24,0.0,0.0,f,15.000,2.1,154835.0,40.0,Own-child,f,Private,t,Negative.|2161,Never-married,f,Vietnam,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,10.0,Adm-clerical,f,?,Asian-Pac-Islander,67
2286,2236,Kenneth Smith,"58575 Mitchell Valley\nWhiteview, DE 23197",15.0,M,2003-10-09 00 00 00,531,f,t,Bachelors,f,115.0,0.96,0.0,0.0,f,2.300,3.4,119164.0,40.0,Unmarried,f,Private,t,Negative.|1187,Never-married,f,?,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Other-service,f,?,White,120

In [194]:
print("pred personal train (riadky,stlpce): ",personal_train.shape)
print("pred other train (riadky,stlpce): ",other_train.shape)
print("vysledny train (riadky,stlpce): ",result_train.shape)

pred personal train (riadky,stlpce):  (2237, 6)
pred other train (riadky,stlpce):  (2287, 34)
vysledny train (riadky,stlpce):  (2287, 38)

In [195]:
print("chybajuce hodnoty name: ",result_train.name.isna().sum())
print("chybajuce hodnoty address: ",result_train.address.isna().sum())
print("chybajuce hodnoty age: ",result_train.age.isna().sum())
print("chybajuce hodnoty sex: ",result_train.sex.isna().sum())

chybajuce hodnoty name:  0
chybajuce hodnoty address:  0
chybajuce hodnoty age:  1
chybajuce hodnoty sex:  0

Spojili sme dva df kde vysledny počet stlpcov sa rovná množine jedinečnych atributov z oboch datasetov. A uspešne sa namapovali všetky riadky z personal_train sa namapovali na riadky other_train, takze vysledny pocet riadkov sa rovna poctu radkov v other_train a zaroven sa nestratili ziadne informacie.

Musime sa pozriet este na duplikatne zaznamy.

In [121]:
result_train.name.value_counts()

Renee Henderson         3
Barbara Stowe           2
Alan Holman             2
Gerald Sanford          2
Eula Stoller            2
Richard Bowlin          2
Melvin Merriweather     2
Stephanie Darden        2
Dorothy Brown           2
Shannon Dobbs           2
Pat Mills               2
Monica Carter           2
Alisha Ludlam           2
Kenneth Sullivan        2
Pamela Bridges          2
Marian West             2
Connie Alley            2
Lori Travis             2
Shirley Kiser           2
Jimmie Tanner           2
Denise Clark            2
Nicole Kitchens         2
Pauline Linden          2
Betty Ellis             2
Karl Sanchez            2
Jodi Hodges             2
Courtney Mckinnon       2
Margaret Gruen          2
Carol Parton            2
Kathy Burroughs         2
                       ..
Katharine Usher         1
Randy Stewart           1
William Manchini        1
Dorothy Harney          1
Annette Thomas          1
Virginia Oconnell       1
Charlene Hurd           1
Amber Alston            1
Beverly Wise            1
Gail Smallwood          1
Peggy Hipp              1
Lisa Herkert            1
Glen Armstrong          1
Mary Mcfadden           1
Dorothy Medina          1
Patricia Pardue         1
Ronald Hash             1
Evelyn Free             1
Amanda Reynolds         1
Gregory Rincon          1
Teri Sherman            1
James Dean              1
Kim Marchese            1
Jackie Hill             1
Julie Hilty             1
Emma Kaylor             1
Glenda Bynum            1
Judith Snyder           1
Emma Lockwood           1
Christopher Martinez    1
Name: name, Length: 2236, dtype: int64

In [156]:
result_train[result_train['name'] == 'Aimee Elliott']

,Unnamed: 0_x,name,address,age,sex,date_of_birth,Unnamed: 0_y,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,tumor,TSH,T3,fnlwgt,hours-per-week,relationship,sick,workclass,TT4 measured,class,marital-status,goitre,native-country,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
1978,1935,Aimee Elliott,"0402 Walters Pines Apt. 506\nNorth Timothy, MA...",37.0,F,1981-03-17,184,f,t,HS-grad,f,??,0.97,0.0,NaN,f,0.25,NaN,799281.0,38.0,Unmarried,NaN,Private,t,negative.|702,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,114
1979,1935,Aimee Elliott,"0402 Walters Pines Apt. 506\nNorth Timothy, MA...",37.0,F,1981-03-17,195,f,t,HS-grad,f,??,0.97,0.0,0.0,f,0.25,2.5,799281.0,38.0,Unmarried,f,Private,t,negative.|702,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",NaN,NaN,9.0,Adm-clerical,f,?,White,114

Ked sme sa pozreli na zaznamy kde sa mena opakuju, zistili sme ze hodnoty v zaznamoch su rovnake, rozdiel je len, ze niektore stlpce obsahuju Nan hodnotu pre jeden zaznam, a pre duplikat nie alebo opacne. Potrebujeme z tychto duplikatov vytvorit jeden zaznam ktory bude obsahovat zjednotenie ich neprazdnych hodnot.

In [198]:
def func(vstup):
    return reduce(lambda x,y: x if not pd.isna(x) else y, vstup)


def deduplicate(df,columns = []):
    df_copy = df.copy()
    
    deduplicated = df_copy[df_copy.duplicated(subset=columns, keep=False)].groupby(columns).agg(func).reset_index()
    
    df_copy.drop_duplicates(subset=columns, keep=False, inplace=True)
    
    return pd.concat([df_copy,deduplicated], sort = True)

In [207]:
result_test = deduplicate(result_test,columns = ['name','address'])
print(result_test.shape)
print(personal_valid.shape)

(972, 39)
(972, 6)

In [204]:
result_train = deduplicate(result_train,columns = ['name','address'])
result_train.shape

(2237, 38)

In [201]:
result_train.name.value_counts()

Terry Murphy            2
Mable Leischner         1
Dwight Crook            1
Everett Guarino         1
Pamela Englehart        1
Mireya Krone            1
Brad Null               1
Christian Ortega        1
Thomas Gifford          1
Daniel Reed             1
Tamara Holmes           1
Lee Rose                1
Eboni Ellison           1
Harold Miller           1
Patricia Castelli       1
Lorina Hoover           1
Ashley Stoner           1
Ann Johnson             1
Denise Bennett          1
Sylvia Montgomery       1
Debra White             1
Briana Oneal            1
Karen Wilson            1
William Pierce          1
Lara Batie              1
Annie Sheldon           1
Billy Read              1
Beatrice Herrera        1
Elizabeth Johnston      1
Alexandra Skerrett      1
                       ..
Amber Alston            1
Beverly Wise            1
Gail Smallwood          1
Peggy Hipp              1
Lisa Herkert            1
Glen Armstrong          1
Lynda Smith             1
Mary Mcfadden           1
Patricia Pardue         1
Ronald Hash             1
Evelyn Free             1
Amanda Reynolds         1
Gregory Rincon          1
James Dean              1
Dona Buchmann           1
Kim Marchese            1
Jackie Hill             1
Julie Hilty             1
Emma Kaylor             1
Glenda Bynum            1
Judith Snyder           1
Emma Lockwood           1
Dorothy Medina          1
Charlene Jones          1
Joanna Chapman          1
Belinda Roberts         1
Loretta Weaver          1
Florence Trivedi        1
Bernadette Fisher       1
Christopher Martinez    1
Name: name, Length: 2236, dtype: int64

In [203]:
result_train[result_train.name == 'Terry Murphy']

,FTI,FTI measured,T3,T4U,TBG,TBG measured,TSH,TT4,TT4 measured,Unnamed: 0_x,Unnamed: 0_y,address,age,capital-gain,capital-loss,class,date_of_birth,education,education-num,fnlwgt,goitre,hours-per-week,hypopituitary,lithium,marital-status,medical_info,name,native-country,occupation,on antithyroid medication,query hyperthyroid,race,referral source,relationship,sex,sick,tumor,workclass
650,78,t,2.5,1.11,?,f,3.9,87.0,t,633,1063,806 Oconnell Light Suite 551\nNorth Aprilborou...,72.0,0.0,0.0,negative.|2600,1946-06-06,Some-college,10.0,250819.0,f,40.0,f,f,Never-married,"{'query hypothyroid':'f','T4U measured':'t','p...",Terry Murphy,United-States,Adm-clerical,f,f,White,SVI,Not_in_family,F,f,f,Private
1060,92,t,NaN,0.95,?,f,5.2,88.0,t,1032,1986,"763 Figueroa Divide\nZimmermanland, WA 65355",60.0,0.0,0.0,Negative.|3479,1958-08-19,HS-grad,9.0,205100.0,f,38.0,f,f,Married-civ-spouse,"{'query hypothyroid':'f','T4U measured':'t','p...",Terry Murphy,Germany,Prof-specialty,f,f,White,SVI,Husband,M,f,f,Self-emp-inc

Ziskali sme unikatne zaznamy pre kazdu osobu, vidime ze vsetky osoby v datach maju unikatne meno az na jeden objekt, ktori sice ma totozne meno s inym zaznamom, ale mozme vidiet ze sa jedna o uplne ineho pacienta.  

Pocet vsetkych zaznamov sa rovna aj poctu zaznamov v tabulke personal_train, co aj potvrdzuje nase vysledky.

### 2. Predspracovanie

#### Extrahovanie atributov zo stlpca "medical_info"

In [44]:
class Extraction(TransformerMixin):
    def __init__(self,column):
        self.column = column
        
    def fit(self,df,y=None):
        return self
    
    def transform(self,df):
        df_copy = df.copy()
        for index,row in enumerate(df_copy[self.column]):
            if not pd.isna(row):
                d = json.loads(row.replace("'", "\""))
                for key,val in d.items():
                    df_copy.loc[index,key] = val
            
        return df_copy

#### Oprava stlpcov s true, false hodnotami

In [45]:
class StringReplacer(TransformerMixin):
    def __init__(self,columns, source, target):
        self.columns = columns
        self.source = source
        self.target = target
        
    def fit(self,df,y=None):
        return self
    
    def transform(self,df):
        df_copy = df.copy()
        for col in self.columns:
            sample = df_copy[col].str.contains(self.source, na=False, regex=False)
            df_copy.loc[sample, col] = self.target
        return df_copy

#### Nahradanie extremnych hodnot

In [58]:
class ReplaceOutliersWithPercentile(TransformerMixin):
    def __init__(self, col_name):
        self.col_name = col_name

    def fit(self, df, y=None, **fit_params):
        Q1 = df[self.col_name].quantile(0.25)
        Q3 = df[self.col_name].quantile(0.75)
        IQR = Q3 - Q1
        self.min_replace = df[self.col_name].quantile(0.05)
        self.max_replace = df[self.col_name].quantile(0.95)
        self.min_extreme = (Q1 - 1.5 * IQR)
        self.max_extreme = (Q3 + 1.5 * IQR)                   
        return self

    def transform(self, df, **transform_params):
        df_copy = df.copy()
        extremes_min = df_copy[df_copy[self.col_name] < self.min_extreme].index
        extremes_max = df_copy[df_copy[self.col_name] > self.max_extreme].index
        df_copy.loc[extremes_min, self.col_name] = self.min_replace
        df_copy.loc[extremes_max, self.col_name] = self.max_replace
        return df_copy

#### Odstranenie extremnych hodnot

In [ ]:
class DropOutliers(TransformerMixin):
    def __init__(self, col_name):
        self.col_name = col_name

    def fit(self, df, y=None, **fit_params):
        Q1 = df[self.col_name].quantile(0.25)
        Q3 = df[self.col_name].quantile(0.75)
        IQR = Q3 - Q1
        self.min_extreme = (Q1 - 1.5 * IQR)
        self.max_extreme = (Q3 + 1.5 * IQR)                   
        return self

    def transform(self, df, **transform_params):
        df_copy = df.copy()
        extremes_min = df_copy[df_copy[self.col_name] < self.min_extreme].index
        extremes_max = df_copy[df_copy[self.col_name] > self.max_extreme].index
        df_copy.drop(extremes_min)
        df_copy.drop(extremes_max)
        return df_copy

#### BoxCox normalizacia hodnot

In [57]:
class BoxCoxNormalization(TransformerMixin):
    def __init__(self, col_name, new_name=""):
        self.col_name = col_name
        self.new_name = new_name if new_name != "" else col_name

    def fit(self, df, y=None, **fit_params):
        _, self.boxcox_attr = boxcox(df[self.col_name])
        return self

    def transform(self, df, **transform_params):
        df_copy = df.copy()
        transformed = boxcox(df_copy[self.col_name], lmbda=self.boxcox_attr)
        df_copy[self.new_name] = transformed
        return df_copy

#### 2.1 Chybajuce hodnoty

#### Nahradenie chybajucich hodnot medianom alebo priemerom

In [216]:
class ReplaceNans(TransformerMixin):
    def __init__(self, col_name, func_type = 'median'):
        self.col_name = col_name
        self.func_type = func_type

    def fit(self, df, y=None, **fit_params):
        if(self.func_type == median):
            self.na_replace = df[self.col_name].median()
        else:
            self.na_replace = df[self.col_name].mean()
        return self

    def transform(self, df, **transform_params):
        df_copy = df.copy()
        df_copy[self.col_name] = df_copy[self.col_name].fillna(self.na_replace)
        return df_copy

AttributeError: 'function' object has no attribute 'median'

In [212]:
result_train['T3'].median()

2.0

#### 2.2 Vychylene hodnoty

In [53]:
true_false_cols = ['on antithyroid medication','query hyperthyroid','FTI measured',
                   'lithium','tumor','sick','TT4 measured','goitre','hypopituitary',
                   'TBG measured','TSH measured', 'T3 measured', 'on thyroxine',
                   'query on thyroxine', 'psych', 'I131 treatment', 'query hypothyroid',
                   'T4U measured', 'thyroid surgery', 'pregnant']

ppl = Pipeline([
     ('ExtraxtMedicalInfo',Extraction('medical_info')),
     ('ReplaceFalseCorrect',StringReplacer(true_false_cols,'f','f')),
     ('ReplaceTrueCorrect',StringReplacer(true_false_cols,'t','t')),
   
    
])

model =ppl.fit(result_train)
X_train = ppl.transform(result_train)

In [55]:
X_train

,Unnamed: 0_x,name,address,age,sex,date_of_birth,Unnamed: 0_y,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,tumor,TSH,T3,fnlwgt,hours-per-week,relationship,sick,workclass,TT4 measured,class,marital-status,goitre,native-country,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI,query hypothyroid,T4U measured,pregnant,thyroid surgery,TSH measured,query on thyroxine,I131 treatment,on thyroxine,T3 measured,psych
0,0,Edith Boudreaux,"11818 Lori Crossing Apt. 802\nPughstad, DC 78165",49.0,F,69-04-28,1425,f,t,HS-grad,f,103.0,1.11,0.0,0.0,f,8.300,0.9,108997.0,40.0,Unmarried,f,Private,t,Negative.|1379,Divorced,f,United-States,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,White,93,t,t,f,f,t,f,f,f,t,f
1,1,Janet Washington,"PSC 4657, Box 5446\nAPO AP 58412",78.0,F,1940-01-23,458,f,t,Some-college,f,112.0,0.82,0.0,0.0,f,3.100,1.1,424012.0,40.0,Not-in-family,f,Federal-gov,t,negative.|954,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHD,10.0,Exec-managerial,f,?,White,137,f,t,f,f,t,f,f,f,t,f
2,2,Margaret Chabot,Unit 9759 Box 9470\nDPO AP 45549,65.0,F,1953-06-23,1875,f,t,Masters,f,113.0,0.85,0.0,0.0,f,0.035,NaN,143046.0,40.0,Not-in-family,f,Private,t,negative.|3301,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,133,f,t,f,f,t,f,f,f,f,f
3,3,Terry Terry,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",34.0,M,1984-03-08,56,t,t,Bachelors,f,99.0,0.87,0.0,0.0,f,0.080,2.1,183390.0,40.0,Not-in-family,f,Local-gov,t,Negative.|3756,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Prof-specialty,f,?,White,113,f,t,f,f,t,f,f,f,t,f
4,4,Stephen Lalk,"995 Frank Stravenue\nSouth Matthewport, TX 81402",57.0,M,1961-09-16,599,f,t,Bachelors,f,164.0,1.14,0.0,0.0,f,1.600,2.1,106935.0,45.0,Husband,f,Private,t,negative.|2198,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,13.0,Exec-managerial,f,?,White,145,f,t,f,f,t,f,f,f,t,f
5,5,Colleen Satterwhite,"1781 Meredith Skyway Suite 328\nCordovaburgh, ...",59.0,F,1959-08-05,543,f,t,HS-grad,f,121.0,1.11,1721.0,0.0,f,1.400,1.1,91939.0,30.0,Not-in-family,f,Private,t,negative.|2283,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,Black,109,f,t,f,f,t,f,f,f,t,f
6,6,Abraham Bruce,"2415 Elizabeth Knoll Suite 030\nCordovafort, C...",53.0,M,1965-10-10,2168,f,t,Doctorate,f,127.0,0.90,0.0,0.0,f,0.080,NaN,214627.0,60.0,Husband,f,Self-emp-inc,t,negative.|3276,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,16.0,Prof-specialty,f,?,White,141,f,t,f,t,t,f,f,t,f,f
7,7,James Wilson,"49824 Kim View\nWest Ericborough, VT 42457",46.0,M,1972-09-07 00 00 00,617,f,t,Some-college,f,98.0,0.94,0.0,0.0,f,0.600,NaN,183532.0,25.0,Own-child,f,Private,t,negative.|3604,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Handlers-cleaners,f,?,White,104,f,t,f,f,t,f,f,f,f,f
8,8,Judy Smith,"53231 Matthew Spur Apt. 079\nNorth Brian, MA 3...",25.0,F,1992-12-27,851,f,t,HS-grad,f,85.0,0.79,0.0,0.0,f,0.020,2.3,137310.0,40.0,Own_child,f,Private,t,negative.|2779,Never-married,f,?,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Machine-op-inspct,f,?,White,107,f,t,f,f,t,f,f,f,t,f
9,9,Anna Swartz,USNV Gallegos\nFPO AA 99743,33.0,F,1985-09-05 00:00:00,57,f,t,Assoc-voc,f,NaN,0.90,0.0,0.0,f,8.200,1.5,222216.0,38.0,Unmarried,f,?,t,negative.|1117,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,11.0,?,f,?,White,83,f,t,f,t,t,f,f,f,t,f
10,10,Patricia Kealy,"655 Karen Causeway\nBenjaminberg, NY 46590",48.0,F,1970-06-12,1594,f,t,Bachelors,f,129.0,1.35,0.0,0.0,f,0.960,NaN,201569.0,20.0,Own-child,f,State-gov,t,increased binding protein.|3621,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Prof-specialty,f,?,White,96,f,t,f,f,t,f,f,f,f,f
11,11,Morgan Toole,"9197 Juarez Lock\nNew Matthew, VA 12312",71.0,F,1947-04-17,545,f,t,HS-grad,f,165.0,1.35,0.0,0.0,f,0.160,2.4,116202.0,33.0,Unmarried,t,Private,t,increased binding protein.|2599,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Other-service,f,?,White,123,f,t,f,f,t,f,f,f,t,f
12,12,Betty Kannel,"9892 Stephen Track Suite 831\nSharonstad, TN 1...",73.0,F,22/04/1945,1175,f,t,Some-college,f,NaN,0.98,0.0,0.0,f,0.100,1.8,192065.0,40.0,Not-in-family,f,Federal-gov,t,negative.|200,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Exec-managerial,f,?,White,140,f,t,f,f,t,f,f,f,t,f
13,13,Roy Wilson,"62673 Jeanette Track Apt. 852\nMckenzieberg, W...",57.0,M,1961-06-06,651,f,t,Some-college,f,99.0,0.99,2179.0,0.0,f,NaN,NaN,303176.0,40.0,Husband,f,State-gov,t,negative.|3313,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Exec-managerial,f,?,White,100,f,t,f,f,f,f,f,f,f,f
14,14,Patricia Wasilewski,"85154 Young Mill\nAaronville, IA 31780",18.0,F,2000/01/17,15,f,t,Bachelors,f,75.0,1.11,0.0,0.0,f,16.000,1.3,320084.0,55.0,Wife,f,?,t,negative.|2120,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVI,13.0,?,f,?,White,68,f,t,f,t,t,f,f,f,t,f
15,15,Lori Scott,"509 Antonio Haven Suite 117\nWest Ricky, OK 35203",59.0,F,1959-01-01 00:00:00,2139,f,t,HS-grad,f,121.0,1.25,0.0,0.0,t,0.060,2.5,344492.0,26.0,Own-child,f,Private,t,negative.|1201,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Sales,f,?,White,97,f,t,f,f,t,f,f,f,t,f
16,16,Carl Young,"024 Jordan Plains Suite 643\nAndreamouth, WI 5...",71.0,M,1947-07-06,309,f,t,HS-grad,f,105.0,1.02,0.0,7688.0,f,1.200,2.6,339905.0,40.0,Husband,f,Private,t,negative.|3066,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,other,9.0,Sales,f,?,White,103,f,t,f,f,t,f,f,f,t,f
17,17,Karen Boyles,31259 Porter Gateway Suite 886\nEast Sarahfort...,15.0,F,2003-06-26,1528,f,t,HS-grad,f,105.0,1.16,0.0,0.0,f,1.600,2.4,158156.0,42.0,Not-in-family,f,Private,t,negative.|3168,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,White,91,f,t,f,f,t,f,f,f,t,f
18,18,Elizabeth Davis,USNV Robinson\nFPO AA 16102,50.0,F,1968-09-24 00 00 00,1890,f,t,HS-grad,f,106.0,1.07,0.0,0.0,f,3.000,NaN,175548.0,35.0,Not-in-family,f,Private,t,negative.|3140,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Other-service,f,?,Other,99,f,t,f,t,t,f,f,f,f,f
19,19,Ronald Speigel,"6135 Keith Route Apt. 868\nAbigailchester, OK ...",45.0,M,1973-01-16,715,f,t,HS-grad,f,119.0,0.94,0.0,0.0,f,0.750,2.3,285131.0,40.0,Husband,f,Private,t,negative.|3339,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Craft-repair,f,?,White,126,f,t,f,f,t,f,f,f,t,t
20,20,Debra White,"30989 Robert Stream Apt. 520\nJorgehaven, MS 9...",47.0,F,1971-09-29,1897,f,t,Some-college,t,108.0,1.08,0.0,0.0,f,2.200,2.0,66622.0,25.0,Own-child,f,Private,t,negative.|3344,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,10.0,Other-service,f,?,White,100,f,t,f,f,t,f,f,f,t,f
21,21,Kelly Webb,6934 Victor Turnpike Apt. 644\nLake Paulamouth...,72.0,F,1946-07-08,1940,f,t,HS-grad,f,86.0,0.88,0.0,0.0,f,1.500,1.3,169037.0,40.0,Not_in_family,f,Private,t,negative.|2763,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Adm-clerical,f,?,White,99,f,t,f,f,t,f,f,f,t,f
22,22,Sandra Cherry,"83150 James Isle Suite 616\nLake Christinaton,...",33.0,F,85-09-04,1357,f,f,Some-college,f,NaN,NaN,0.0,0.0,f,NaN,NaN,23686.0,35.0,Other_relative,f,Private,f,negative.|964,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",F,other,10.0,Adm-clerical,f,?,White,?,f,f,f,f,f,f,f,f,f,f
23,23,Terri Alexander,"2397 Powell Skyway Apt. 944\nNew Brianport, PA...",15.0,F,2003-08-23,277,t,f,Some-college,f,NaN,NaN,0.0,0.0,f,NaN,NaN,120572.0,12.0,Not-in-family,f,Private,f,negative.|789,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",t,other,10.0,Other-service,f,?,White,?,f,f,f,f,f,f,f,f,f,f
24,24,Anitra Kennerly,"58132 Emily Club Apt. 346\nEmmaborough, LA 16007",54.0,F,04/11/1963,1062,f,t,Some-college,f,100.0,1.11,0.0,0.0,f,0.035,1.9,41183.0,20.0,Own-child,f,State-gov,t,negative.|2246,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,10.0,Prof-specialty,f,?,White,90,f,t,f,f,t,f,f,t,t,f
25,25,Amanda Grulkey,"4017 Marcus Brook\nWest Amber, NY 39009",50.0,F,1968-07-23,2092,f,t,Some-college,f,121.0,1.04,0.0,0.0,f,0.200,2.0,193372.0,40.0,Own-child,f,Private,t,negative.|93,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,10.0,Exec-managerial,f,?,White,116,f,t,f,f,t,f,f,f,t,f
26,26,Melinda Deoliveira,"6580 Gregory Fork Apt. 987\nPort Joshuaport, N...",64.0,F,1953-12-01,1314,f,t,Some-college,f,136.0,1.07,0.0,0.0,f,NaN,3.1,157951.0,50.0,Not-in-family,f,Private,t,negative.|805,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,10.0,Exec-managerial,f,?,White,127,f,t,f,f,f,f,f,f,t,f
27,27,Linda Stubblefield,"2503 Brown Island Apt. 531\nFosterton, NC 83127",55.0,F,1962-11-23,1087,f,t,HS-grad,f,76.0,0.65,0.0,0.0,f,1.600,1.7,201617.0,40.0,Unmarried,f,Federal-gov,t,negative.|215,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,9.0,Adm-clerical,f,?,White,116,f,t,f,f,t,f,f,f,t,f
28,28,Julia Smith,"3266 Michael Walk Suite 579\nAngelaside, AL 13883",19.0,F,1999-02-26,1590,f,t,11th,f,95.0,0.87,0.0,0.0,f,9.000,NaN,199963.0,40.0,Wife,f,Private,t,negative.|2795,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,7.0,Machine-op-inspct,f,?,White,110,f,t,f,f,t,f,f,f,f,f
29,29,Michael Guzman,"0845 Brown Keys\nNew Tiffany, AZ 18220",44.0,M,1974-05-13 00 00 00,465,f,t,Prof-school,f,76.0,0.90,0.0,0.0,f,21.000,NaN,144811.0,50.0,Not-in-family,f,State-gov,t,Negative.|3218,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,15.0,Prof-specialty,f,?,White,84,f,t,f,t,t,f,f,t,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257,2208,Lewis Green,"1471 Williams Via\nLake Elizabethshire, OR 97299",62.0,?,1956-05-21,2005,f,t,Assoc-acdm,f,96.0,0.88,0.0,0.0,f,1.300,1.5,120046.0,40.0,Own-child,f,Private,t,negative.|3514,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,SVHC,12.0,Adm-clerical,f,?,White,109,f,t,f,f,t,f,f,f,t,f
2258,2209,Charles Willard,"664 Chelsea Parks\nWest Williefort, MN 38529",80.0,M,1938-02-07,114,f,t,Bachelors,f,225.0,1.68,0.0,0.0,f,1.300,2.8,383306.0,40.0,Not-in-family,f,Private,t,Increased binding protein.|2394,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Sales,f,?,White,134,f,t,f,f,t,f,f,f,t,f
2259,2210,Patricia Twyman,Unit 7771 Box 7980\nDPO AP 52262,41.0,F,1976-12-10,624,f,f,HS-grad,f,NaN,NaN,0.0,0.0,f,NaN,NaN,329026.0,40.0,Wife,f,Private,f,negative.|3519,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Adm-clerical,f,?,White,?,f,f,f,f,f,f,f,f,f,f
2260,2211,Donte Watson,"1457 Cuevas Skyway\nKaylaside, MD 83845",60.0,?,1958-04-08,1421,f,t,Bachelors,f,111.0,1.12,0.0,0.0,f,0.900,2.4,341643.0,55.0,Not-in-family,f,Private,t,negative.|1752,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Sales,f,?,White,99,f,t,f,f,t,f,f,f,t,f
2261,2212,Hayley Quintanilla,"2997 Smith Garden Apt. 597\nAdamhaven, DC 25106",35.0,F,1982-12-29,354,f,t,Assoc-voc,f,110.0,0.96,0.0,1639.0,f,NaN,NaN,104509.0,20.0,Not-in-family,f,Private,t,negative.|2871,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,11.0,Prof-specialty,f,?,White,114,f,t,f,f,f,f,f,f,f,f
2262,2213,Briana Hayes,"28971 Riley Coves\nKimberlytown, IN 38253",39.0,F,1979-07-12,2043,f,f,Assoc-voc,f,NaN,NaN,0.0,0.0,f,2.100,NaN,184078.0,40.0,Unmarried,f,Private,f,Negative.|3526,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,11.0,Adm-clerical,f,?,White,?,f,f,f,f,t,f,f,f,f,f
2263,2214,Mary Benton,2718 Benjamin Skyway Apt. 984\nWest Ashleyvill...,39.0,F,1979/01/09,194,f,t,HS-grad,f,63.0,0.84,0.0,0.0,f,43.000,1.6,53588.0,40.0,Not-in-family,f,?,t,negative.|1686,Widowed,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,?,f,?,White,75,f,t,f,f,t,f,f,f,t,f
2264,2215,Edward Gionfriddo,"3309 Brown Branch Suite 527\nMichaelshire, CT ...",37.0,M,1981-05-19,1697,f,t,HS-grad,f,NaN,1.07,0.0,0.0,f,2.600,2.2,33404.0,65.0,Not-in-family,f,Self-emp-not-inc,t,negative.|1275,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,75,f,t,f,f,t,f,f,f,t,f
2265,2216,Ethel Rodgers,"69601 Francis Isle\nTuckermouth, ME 99486",41.0,F,76-12-30,1830,f,t,HS-grad,f,125.0,1.14,0.0,0.0,f,1.300,2.5,275093.0,36.0,Not-in-family,f,Private,t,negative.|3733,Never-married,f,United-States,f,"{'query hypothyroid':'f.7','T4U measured':'t.3...",f,SVHC,NaN,Handlers-cleaners,f,?,White,109,f,t,f,f,t,f,f,f,t,f
2266,2217,Clarence Hoover,USNV Cox\nFPO AP 97859,39.0,M,1979/06/04,1645,f,t,Some-college,f,130.0,1.13,0.0,0.0,f,0.930,2.6,197860.0,40.0,Husband,f,Private,t,negative.|2540,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Handlers-cleaners,f,?,White,115,f,t,f,f,t,f,f,f,t,f
2267,2218,Mary Miller,"02512 Lewis Roads\nMartinland, AR 68694",83.0,F,1935-05-06,64,f,t,Bachelors,f,86.0,0.76,0.0,0.0,f,0.920,0.9,100903.0,25.0,Wife,f,?,t,negative.|1428,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,13.0,?,f,?,White,113,f,t,f,f,t,f,f,f,t,f
2268,2219,Brenda Morris,"7574 Richard Trail Apt. 277\nHoodview, TX 85262",54.0,F,1964-02-21,102,f,t,9th,f,NaN,0.80,0.0,0.0,f,0.380,1.1,114508.0,40.0,Other-relative,f,Local-gov,t,negative.|859,Separated,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,5.0,Other-service,f,?,White,160,f,t,f,f,t,f,f,f,t,f
2269,2220,Pauline Linden,"2383 Miller Ranch\nSouth Stevenview, MS 94837",29.0,F,1989-03-05,751,f,t,Masters,f,80.0,0.82,0.0,0.0,NaN,0.590,NaN,334679.0,42.0,Unmarried,f,Private,t,negative.|3653,Separated,f,India,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,Machine-op-inspct,f,?,Asian-Pac-Islander,98,f,t,f,f,t,f,f,f,f,f
2270,2220,Pauline Linden,"2383 Miller Ranch\nSouth Stevenview, MS 94837",29.0,F,1989-03-05,2286,f,t,Masters,f,80.0,NaN,NaN,0.0,f,0.590,NaN,334679.0,42.0,Unmarried,NaN,NaN,t,negative.|3653,Separated,f,India,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,14.0,NaN,f,?,Asian-Pac-Islander,98,f,t,f,f,t,f,f,f,f,f
2271,2221,Eleanor Casarez,"PSC 4833, Box 2736\nAPO AP 05217",74.0,F,1944-01-24,2060,f,t,HS-grad,f,92.0,0.71,0.0,0.0,f,0.650,0.9,291808.0,40.0,Not-in-family,f,Private,t,Negative.|773,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,9.0,Protective-serv,f,?,Black,129,f,t,f,f,t,f,f,f,t,f
2272,2222,Michelle Burton,Unit 2648 Box 3942\nDPO AP 81994,68.0,F,1950-08-06,765,f,t,HS-grad,f,111.0,1.20,0.0,0.0,f,12.000,1.4,198813.0,40.0,Own-child,f,Private,t,negative.|1155,Never-married,f,United-States,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,9.0,Handlers-cleaners,f,?,Black,93,t,t,f,f,t,f,f,f,t,f
2273,2223,Kristin Little,"54758 Hodge Trafficway\nLake Paulside, NM 63911",62.0,F,1956-10-21,1519,f,t,HS-grad,f,79.0,0.89,0.0,0.0,f,2.600,2.1,340534.0,44.0,Not-in-family,f,Private,t,negative.|67,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Adm-clerical,f,?,White,90,f,t,f,f,t,f,f,f,t,f
2274,2224,Jesse Brunswick,"3989 Jennifer Neck\nLake Gabrielabury, GA 29298",53.0,M,1965-05-03,2085,f,t,Masters,f,NaN,1.16,0.0,0.0,f,2.400,2.6,230922.0,40.0,Not-in-family,f,State-gov,t,negative.|2747,Never-married,f,Scotland,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Exec-managerial,f,?,White,130,f,t,f,f,t,f,f,f,t,f
2275,2225,Jody Turner,"54780 Albert Plain\nPort Christopherland, WY 7...",45.0,F,1973-04-25 00:00:00,1866,f,t,Assoc-voc,f,77.0,0.86,0.0,0.0,f,0.970,1.1,211129.0,10.0,Own-child,f,Local-gov,t,negative.|3639,Never-married,f,?,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,11.0,Adm-clerical,f,?,White,89,f,t,f,f,t,f,f,f,t,f
2276,2226,Lon Hong,"825 Jennifer Ramp\nMartinport, KY 61619",65.0,M,1953-02-10,1450,f,f,Bachelors,f,31.0,NaN,0.0,0.0,f,103.000,1.3,207677.0,40.0,Husband,f,Local-gov,t,negative.|3072,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,SVI,NaN,Protective-serv,f,?,White,?,f,f,f,f,t,f,f,f,t,f
2277,2227,Gregory Atkins,"4488 Robert Knoll\nBrownchester, KY 57752",66.0,M,20/03/1952,1537,f,t,Bachelors,f,114.0,0.92,0.0,0.0,f,0.800,1.8,737315.0,40.0,Husband,f,Private,t,negative.|742,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,NaN,Prof-specialty,f,?,White,124,f,t,f,f,t,f,f,f,t,f
2278,2228,Rosemary Sanford,"8921 Shane Drive Suite 258\nLake Chadside, CT ...",28.0,F,1990/03/27,1491,f,t,HS-grad,f,204.0,2.03,0.0,0.0,f,0.900,4.5,258932.0,80.0,Not-in-family,f,Private,t,increased binding protein.|2276,Married-spouse-absent,f,Italy,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,STMW,9.0,Other-service,f,?,White,100,f,t,f,f,t,f,f,f,t,f
2279,2229,Shaunna Marron,"3375 Daniel Plains\nNorth Holly, NY 31433",71.0,F,1947-03-21,659,t,t,HS-grad,f,126.0,1.02,1740.0,0.0,f,0.500,NaN,428350.0,40.0,Wife,f,Private,t,negative.|1332,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,NaN,Machine-op-inspct,f,?,White,124,f,t,f,f,t,f,f,t,f,f
2280,2230,Wayne Flood,"8504 Harvey Trail Suite 220\nEast Loriside, CA...",37.0,M,1981-02-13,116,f,t,Bachelors,f,114.0,0.93,0.0,0.0,f,1.500,3.0,189027.0,40.0,Own-child,f,Private,t,Negative.|2035,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,13.0,Handlers-cleaners,f,?,White,122,f,t,f,f,t,f,f,f,t,f
2281,2231,Paul Sterling,USS Harris\nFPO AE 95006,56.0,?,1962/05/15,2195,f,f,Prof-school,f,NaN,NaN,0.0,15024.0,f,NaN,NaN,126569.0,60.0,Husband,f,Self-emp-not-inc,f,negative.|3601,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,15.0,Prof-specialty,f,?,White,?,f,f,f,f,f,f,f,f,f,f
2282,2232,James Coppin,"952 Douglas Harbors Apt. 064\nWest John, GA 97980",46.0,M,1972-04-14,260,f,t,HS-grad,f,125.0,1.02,0.0,0.0,f,1.100,2.9,222442.0,51.0,Husband,f,Private,t,negative.|233,Married-civ-spouse,f,Cuba,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,9.0,Sales,f,?,White,122,f,t,f,f,t,f,f,f,t,t
2283,2233,Allison Grillo,"33206 Shelby Port\nSouth Jennifer, GA 55134",21.0,F,96-11-14,1666,f,f,HS-grad,f,NaN,NaN,0.0,0.0,f,NaN,3.1,34446.0,20.0,Not-in-family,f,Private,f,negative.|254,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,9.0,Other-service,f,?,White,?,f,f,f,f,f,f,f,f,t,f

### 3. Opatovna prieskumna analyza

In [62]:
a = result_train[result_train['age'] > 300].index
x = result_train.drop(a)

In [63]:
x[x['age'] > 300]

Empty DataFrame
Columns: [Unnamed: 0_x, name, address, age, sex, date_of_birth, Unnamed: 0_y, query hyperthyroid, FTI measured, education, lithium, TT4, T4U, capital-loss, capital-gain, tumor, TSH, T3, fnlwgt, hours-per-week, relationship, sick, workclass, TT4 measured, class, marital-status, goitre, native-country, hypopituitary, medical_info, on antithyroid medication, referral source, education-num, occupation, TBG measured, TBG, race, FTI]
Index: []

In [51]:
other_train.columns

Index(['Unnamed: 0', 'name', 'address', 'query hyperthyroid', 'FTI measured',
       'education', 'lithium', 'TT4', 'T4U', 'capital-loss', 'capital-gain',
       'tumor', 'TSH', 'T3', 'fnlwgt', 'hours-per-week', 'relationship',
       'sick', 'workclass', 'TT4 measured', 'class', 'marital-status',
       'goitre', 'native-country', 'hypopituitary', 'medical_info',
       'on antithyroid medication', 'referral source', 'education-num',
       'occupation', 'TBG measured', 'TBG', 'race', 'FTI'],
      dtype='object')